.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 1.5rem;
  align-items: center;
}

.form a {
  text-decoration: none;
  font-size: 1.5rem;
}

.form h2 {
  color: #305CDE;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.button {
  padding: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #212020;
  border-style: none;
  color: white;
}

.rectangle {
  border: 2px solid gray;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: lightgray;
  text-align: center;
  box-sizing: border-box;
}