.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form a {
  text-decoration: none;
  font-size: 1.5rem;
}

.form h2 {
  color: #305CDE;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input {
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid gray;
}

.button {
  padding: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #212020;
  border-style: none;
  color: white;
}

.rectangle {
  border: 2px solid gray;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: lightgray;
}