
.container {
  height: 24rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  direction: rtl;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.rectangle {
  border: 2px solid gray;
  padding: 2rem;
  text-align: left;
  font-size: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: white;
}

.deviceLinks {
  text-decoration: none;
  color: black;
}

.container::-webkit-scrollbar {
  display: none;
}

.rectangle:hover {
  border: 2px solid black;
}